*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea
.DS_Store
/build
/gradle
/captures
.externalNativeBuild
app/libs/
app/src/main/java/com/rolan/opengldemo/widget/
build.gradle
proguard-rules.pro
src/androidTest/
src/main/AndroidManifest.xml
src/main/cpp/
src/main/java/com/rolan/opengldemo/MainActivity.kt
src/main/java/com/rolan/opengldemo/base/
src/main/java/com/rolan/opengldemo/tasks/
src/main/java/com/rolan/opengldemo/utils/
src/main/res/
src/test/
