<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rolan.opengldemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApp"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cpptasks.triangle01.TriangleAct"/>

        <activity android:name=".cpptasks.rectangle02.RectangleAct"/>
        <activity android:name=".cpptasks.shaders03.ShadersAct"/>
        <activity android:name=".cpptasks.textures04.TexturesAct"/>
        <activity android:name=".CppAct"/>
        <activity android:name=".KotlinAct"/>
        <activity android:name=".kotlintasks.triangle_01.TriangleKotlinAct"/>
    </application>

</manifest>